* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  min-height: 60px;
  background-color: #1d365d;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 0 rgba(255, 255, 255, 0.07);
}
.content {
  flex: 1 0 auto;
  background-color: azure;
}
.footer {
  flex: 0 0 auto;
  background-color: darkgrey;
  min-height: 100px;
}
.searchForm {
  margin: 15px;
  height: 25px;
  display: flex;
  justify-content: center;
}
.searchForm input {
  border-radius: 10px 0 0 10px;
  border: 1px solid seagreen;
  outline: none;
  margin-right: 0;
  padding: 2px 10px;
}
.searchForm button {
  outline: none;
  border-radius: 0 10px 10px 0;
  height: 25px;
  margin-left: 0;
  padding-left: 5px;
  padding-right: 8px;
  border: 1px solid teal;
  border-left: 0;
}
.searchForm button:hover {
  opacity: 0.5;
}
section {
  border: 1px dotted;
  min-height: 300px;
  display: flex;
}
.localWeather {
  flex: 3;
  padding: 20px;
}
.currentWeather {
  flex: 3;
  padding: 20px;
  border-left: 1px dotted;
  border-right: 1px dotted;
}
.locationStory {
  flex: 2;
}
.weatherPanel {
  background-color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50px;
  height: 100%;
  border: 1px solid silver;
  opacity: 0.5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.weatherPanel:hover {
  background-color: #eceaea;
  transform: scale(1.01);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.searchForm {
  position: relative;
}
.tempType {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
