* {
  margin: 0;
  padding: 0;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  min-height: 60px;
  background-color: #1d365d;
}
.content {
  flex: 1 0 auto;
  background-color: #f0f6ff;
}
.footer {
  flex: 0 0 auto;
  background-color: #a9a9a9;
  min-height: 80px;
}
.searchForm {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f6ff;
  position: relative;
}
.searchForm input {
  border-radius: 10px 0 0 10px;
  border: 1px solid #1d365d;
  margin-right: 0;
  padding: 4px 10px;
}
.btnSearch {
  border-radius: 0 10px 10px 0;
  height: 25px;
  margin-left: 0;
  padding-left: 5px;
  padding-right: 8px;
  border: 1px solid #1d365d;
  border-left: 0;
}
.btnSearch:hover {
  opacity: 0.5;
}
section {
  /* border: 1px dotted; */
  min-height: 300px;
  display: flex;
}
.localWeather,
.currentWeather,
.locationStory,
.currentWeatherChart {
  flex: 2;
  padding: 20px;
}
.currentWeather {
  /* border-left: 1px dotted; */
  /* border-right: 1px dotted; */
}
.currentWeatherChart {
  flex: 4;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.locationStory {
  /* border-left: 1px dotted; */
}
.weatherPanel {
  position: relative;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50px;
  height: 100%;
  border: 1px solid silver;
  opacity: 0.5;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.btnUnit {
  width: 30px;
  margin-left: 20px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btnUnit:hover {
  background-color: #eceaea;
}
.btnRemoveItem {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  border-radius: 8px;
  border: 1px solid grey;
}
.btnRemoveItem:hover {
  background-color: #eceaea;
  transform: scale(1.1);
}
.btnRemoveItem:active {
  transform: scale(0.9);
}
.storageWeatherPanel {
  position: relative;
  background-color: #f5f5f5;
  opacity: 0.5;
  box-sizing: border-box;
  border: 1px solid silver;
  margin: 2px 0;
  border-radius: 10px;
  padding: 5px;
}
.weatherView {
  height: 300px;
}
.drawCharts {
  width: 100%;
  height: 100%;
}
.groupWeatherContainer {
  flex: 1;
  padding: 10px;
}
.groupChartContainer {
  flex: 5;
}
.groupWeatherChart {
  padding: 10px;
}
.addToGroupBtn {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid grey;
}
.addToGroupBtn:hover {
  background-color: #eceaea;
  transform: scale(1.1);
}
.addToGroupBtn:active {
  transform: scale(0.9);
}
.cityChart {
  height: 100%;
  width: 100%;
}
