* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  min-height: 60px;
  background-color: #1d365d;
}
.content {
  flex: 1 0 auto;
  background-color: #f0ffff;
}
.footer {
  flex: 0 0 auto;
  background-color: #a9a9a9;
  min-height: 80px;
}
.searchForm {
  margin: 15px;
  height: 25px;
  display: flex;
  justify-content: center;
}
.searchForm input {
  border-radius: 10px 0 0 10px;
  border: 1px solid #1d365d;
  outline: none;
  margin-right: 0;
  padding: 2px 10px;
}
.searchForm button {
  outline: none;
  border-radius: 0 10px 10px 0;
  height: 25px;
  margin-left: 0;
  padding-left: 5px;
  padding-right: 8px;
  border: 1px solid #1d365d;
  border-left: 0;
}
.searchForm button:hover {
  opacity: 0.5;
}
section {
  border: 1px dotted;
  min-height: 300px;
  display: flex;
}
.localWeather,
.currentWeather,
.locationStory {
  flex: 3;
  padding: 20px;
}
.currentWeather {
  border-left: 1px dotted;
  border-right: 1px dotted;
}
.weatherPanel {
  position: relative;
  background-color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50px;
  height: 100%;
  border: 1px solid silver;
  opacity: 0.5;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.searchForm {
  position: relative;
}
.tempType {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.btnAddToStorage {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 3px;
  border-radius: 8px;
}
.btnAddToStorage:hover {
  background-color: #eceaea;
  transform: scale(1.1);
}
